.nums {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.num {
    background-color: black;
    height: 50px;
    width: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 615px;
    width: 615px;
    background-color:#28c2ff;
}
.x3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3px;
    padding: 2.5px;
}
.box {
    background-color: #09161e;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #28c2ff;
}
/* .fixed { */
    /* background-color: aqua; */
/* } */
body {
    background-color: #09161e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.opts {
    width: 615px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 0px;
}
.opt {
    color: white;
    padding: 13px;
    font-size: large;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    background-color: black;
}
.valid {
    background-color: green;
}
.invalid {
    background-color: red;
}

.num:hover,
.select {
    background-color: grey;
    scale: 1.05;
    transition: ease-in-out .4s;
    cursor: pointer;
}
/* header {
} */
@media (max-width: 620px) {
    #board {
        margin-top: 15px;
        width: 90vw;
        height: 90vw;
        /* background-color: red; */
    }
    .nums {
        width: 350px;
        flex-wrap: wrap;
    }
    .num {
        scale: 0.9;
        margin: 5px;
    }
    .opts {
        width: 80vw;
    }
    .box {
        font-size: 1.2rem;
        font-weight: normal;
    }
}
